html {
    background-color: rgb(0, 120, 124);
    font-family: 'Ubuntu', sans-serif;
}

.blue {
    color: rgb(0, 200, 240);
}

/*Header*/

header {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    background-color: rgb(0, 140, 160);
    border-radius: 1rem;
}

header h2 {
    margin-left: 1rem;
}

header ul {
    display: flex;
    justify-items: flex-end;
    margin: auto 0 auto auto;
}

header ul li {
    list-style: none;
    margin: auto 0.5rem;
}

header a {
    text-decoration: none;
    color: black;
}

header a:hover {
    color: rgb(169, 169, 169);
}

/*Main Section*/

/*Navigation and Introduction*/

.introduction {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 70%;
    margin: 2rem auto;
}

.introduction img {
    width: 70%;
    height: auto;
    border-radius: 45%;
    margin-bottom: 1rem;
}

.introduction figcaption {
    width: 70%;
    
}

.introduction figure {
    display: grid;
    justify-items: center;
    min-width: 420px;
}

nav {
    font-size: 2rem;
    font-weight: 450;
    min-width: 270px;
}

nav ul {
    list-style: none;
    margin: 4rem auto;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: black;
}

nav li {
    text-align: left;
    border: 1px solid black;
    border-radius: 0.2rem 0.2rem 0.2rem 1rem;
    padding: 1rem;
    margin: 1rem;
    transition: background-color 0.2s, width 0.5s;
    width: 60%
}

nav li:hover {
    background-color: rgb(0, 140, 160);
    cursor: pointer;
    width: 70%;
}

/*About Me*/

.aboutme {
    width: 90%;
    margin: 2rem auto;
}

.aboutme h1{
    margin-bottom: 3rem;
    font-size: 36px;
}

.aboutme figure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.aboutme .left img{
    grid-column: 1 / span 1;
}

.left figcaption{
    grid-column: 2 / span 2;
    margin: 1rem;
}

.aboutme .right img{
    grid-column: 3 / span 1;
}

.right figcaption{
    grid-column: 1 / span 2;
    margin: 1rem;
}

.aboutme img {
    width: 100%;
    height: auto;
    margin-right: 1rem;
}
